@model List<SocialNet.Models.User>

@{
    ViewData["Title"] = "Seguindo";
}

<h2>Usuários que você está seguindo</h2>

@if (Model.Count > 0)
{
    <ul class="list-group">
        @foreach (var follower in Model)
        {
            <li class="list-group-item">
                <a asp-action="Profile" asp-route-userId="@follower.Id">@follower.Username</a>
            </li>
        }
    </ul>
}
else
{
    <p>Você ainda não está seguindo ninguém.</p>
}